.article-wrapper {
  background-size: 100% 100%;
  height: 100vh;
}

.rich-text-content {
  margin: auto 0;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 20%;
}

b {
  color: #bff0e7;
}

.quotation {
  font-style: italic;
}
